<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415390582722-n9usli8qskk8jbsm6mi6d6d4ivrn127i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415390582722-n9usli8qskk8jbsm6mi6d6d4ivrn127i</string>
	<key>API_KEY</key>
	<string>AIzaSyAEIWnUvpfWe1xto8LjZIq71zlUO0mrJrg</string>
	<key>GCM_SENDER_ID</key>
	<string>415390582722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alessiomassa.MyLogin</string>
	<key>PROJECT_ID</key>
	<string>mylogin-ce794</string>
	<key>STORAGE_BUCKET</key>
	<string>mylogin-ce794.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:415390582722:ios:63040d7ff38f5403c9785b</string>
	<key>DATABASE_URL</key>
	<string>https://mylogin-ce794.firebaseio.com</string>
</dict>
</plist>
